pkgbase = libvirt-python
	pkgdesc = libvirt python binding
	pkgver = 9.7.0
	pkgrel = 1
	epoch = 1
	url = https://pypi.python.org/pypi/libvirt-python
	arch = x86_64
	license = LGPL
	makedepends = python
	makedepends = python-setuptools
	makedepends = libvirt
	depends = python
	depends = libvirt
	options = emptydirs
	source = https://libvirt.org/sources/python/libvirt-python-9.7.0.tar.gz
	source = https://libvirt.org/sources/python/libvirt-python-9.7.0.tar.gz.asc
	validpgpkeys = 453B65310595562855471199CA68BE8010084C9C
	sha512sums = 940179129cadc59a64211a0792b3270e55da86c9cd90e4b29331224bd52d4437946db9d9c1544995a42ca1c20f50f268acfbb5527f8e59aa46cac40333550d37
	sha512sums = SKIP

pkgname = libvirt-python
